<div class="d-flex w-100 my-2 justify-content-between">
  <div class="d-flex position-relative">
    <img
      class="rounded item-image img-lazy"
      defaultImage="./assets/placeholder.svg"
      [lazyLoad]="product?.image_product"
      style="width: 80px"
    />
  </div>
  <div class="d-flex w-100 flex-column mx-3">
    <div
      class="d-flex w-100 justify-content-between flex-row"
      [ngClass]="{'align-items-center': !isSummary,'align-items-start': isSummary}"
    >
      <div
        class="d-flex w-100 justify-content-between align-items-center flex-column"
      >
        <div class="d-flex w-100 justify-content-between align-items-center">
          <h6 class="my-0 font-size-normal">
            <strong class="text-clip-1">{{product?.name_product}}</strong>
          </h6>
        </div>
        <div class="d-flex w-100">
          <label
            class="mb-0 font-size-normal text-clip-1"
            [ngClass]="{'mt-1': !isSummary,'mt-2': isSummary}"
            >{{product?.info_product.brand.name}}</label
          >
        </div>
      </div>
      <label class="my-0 ml-2 flex-shrink-0 d-flex align-items-center">
        <select
          class="rounded blue-4f-border blue-4f-text px-3 py-2 font-size-normal"
          style="width: 80px; min-width: 80px"
          [(ngModel)]="product.quantity"
          (change)="changeQunatity()"
          *ngIf="!isSummary"
        >
          <option
            *ngFor="let stock of productStockList; let i = index"
            [selected]="stock"
          >
            {{stock}}
          </option>
        </select>
        <span class="font-size-normal" *ngIf="isSummary"
          >Cantidad: <b>{{product?.quantity}}</b></span
        >
        <a (click)="deleteItem()">
          <div
            class="d-flex justify-content-center align-items-center p-2 pl-3 rounded"
            style="cursor: pointer"
          >
            <mdb-icon
              fas
              icon="trash-alt"
              class="red-2-text font-size-normal"
            ></mdb-icon>
          </div>
        </a>
      </label>
    </div>

    <div class="d-flex w-100 justify-content-between mt-3">
      <div class="d-none d-lg-flex w-100"></div>
      <div class="d-flex w-100 justify-content-between mt-1">
        <label class="blue-4f-text my-0 font-size-normal"
          ><strong>Precio</strong></label
        >
        <label
          class="blue-4f-text my-0 font-size-normal d-flex align-items-center"
        >
          <div
            class="d-flex justify-content-center align-items-center"
            *ngIf="product?.discountApply?.message && product?.discountApply?.proceed"
            [mdbTooltip]="product?.discountApply?.message"
            placement="top"
            style="cursor: pointer; border-width: 2px !important"
          >
            <mdb-icon
              fas
              icon="info-circle"
              class="font-size-normal mr-1"
              [ngClass]="{ 'red-2-text': supplierOrder.delivery_price === -1 || supplierOrder.discountError, 'blue-4f-text': supplierOrder.delivery_price !== -1 && !supplierOrder.discountError }"
            ></mdb-icon>
          </div>
          <strong>{{ product.total_price | currency: 'S/'}}</strong>
        </label>
      </div>
    </div>

    <hr class="mt-2 mb-0 w-100" />
  </div>
</div>
