<ng-container *ngIf="loadingForm">
  <app-modal-loading
    class="w-100 py-2 d-flex mx-2 justify-content-center"
  ></app-modal-loading>
</ng-container>
<ng-container *ngIf="contactModal && !loadingForm">
  <app-modal-header
    [title]="contactModal.title | titlecase"
    [returnCondition]="false"
    (onClose)="closeModal()"
  ></app-modal-header>
  <div class="modal-body">
    <div>
      <p class="blue-4f-text">{{ contactModal.contactMessage }}</p>
      <div class="py-2">
        <ng-container *ngFor="let item of contactModal.content">
          <p class="blue-4f-text my-4 d-flex align-items-center">
            <i class="fa {{ item.icon }} font-size-35"></i>
            <span class="ml-4">{{ item.value }}</span>
          </p>
        </ng-container>
      </div>
      <form
        class="d-flex flex-column justify-content-between h-100"
        [formGroup]="contactForm"
      >
        <!-- <ng-container *ngFor="let item of contactModal.requestFields"> -->
        <!--   <div class="my-2 my-md-3"> -->
        <!--     <!-1- Text -1-> -->
        <!--     <ng-container *ngIf="item.type === 'text' && item.sub_type !== 'number'"> -->
        <!--       <div class="input-group md-form my-0"> -->
        <!--         <label -->
        <!--           [for]="item.name" -->
        <!--           class="font-size-1 w-100 blue-4f-text" -->
        <!--           >{{ item.name }}</label -->
        <!--         > -->
        <!--         <input -->
        <!--           mdbInput -->
        <!--           [name]="item.name" -->
        <!--           [type]="item.type" -->
        <!--           [formControlName]="item.field" -->
        <!--           class="blue-4f-text input-border-bottom-blue my-0 form-control font-size-1 w-100 outline-none pl-1" -->
        <!--         /> -->
        <!--       </div> -->
        <!--     </ng-container> -->
        <!--     <ng-container *ngIf="item.type === 'text' && item.sub_type === 'number'"> -->
        <!--       <div class="input-group md-form my-0"> -->
        <!--         <label -->
        <!--           [for]="item.name" -->
        <!--           class="font-size-1 w-100 blue-4f-text" -->
        <!--           >{{ item.name }}</label -->
        <!--         > -->
        <!--         <input -->
        <!--           mdbInput -->
        <!--           [name]="item.name" -->
        <!--           [type]="item.type" -->
        <!--           [formControlName]="item.field" -->
        <!--           class="blue-4f-text input-border-bottom-blue my-0 form-control font-size-1 w-100 outline-none pl-1" -->
        <!--           OnlyNumbers="true" -->
        <!--           NoPaste -->
        <!--         /> -->
        <!--       </div> -->
        <!--     </ng-container> -->
        <!--     <!-1- Textarea -1-> -->
        <!--     <ng-container *ngIf="item.type === 'text-area'"> -->
        <!--       <div class="input-group md-form my-0"> -->
        <!--         <label -->
        <!--           [for]="item.name" -->
        <!--           class="font-size-1 w-100 blue-4f-text" -->
        <!--         > -->
        <!--           {{ item.name }} -->
        <!--         </label> -->
        <!--         <textarea -->
        <!--           mdbInput -->
        <!--           [name]="item.name" -->
        <!--           [formControlName]="item.field" -->
        <!--           rows="3" -->
        <!--           class="blue-4f-text input-border-bottom-blue scrollbar-primary my-0 md-textare form-control font-size-1 w-100 outline-none pl-1 border-0" -->
        <!--         ></textarea> -->
        <!--       </div> -->
        <!--     </ng-container> -->
        <!--   </div> -->
        <!-- </ng-container> -->

        <ng-container *ngFor="let item of contactModal.requestFields">
          <div class="my-2 my-md-3">
            <!-- Text -->
            <ng-container
              *ngIf="item.type === 'text' && item.sub_type !== 'number'"
            >
              <div class="input-block">
                <label [for]="item.name" class="blue-4f-text">
                  <strong> {{ item.name }} </strong>
                </label>
                <input
                  mdbInput
                  mdbValidate
                  [name]="item.name"
                  [type]="item.type"
                  [formControlName]="item.field"
                  class="blue-4f-text form-control"
                />
              </div>
            </ng-container>
            <ng-container
              *ngIf="item.type === 'text' && item.sub_type === 'number'"
            >
              <div class="input-block">
                <label [for]="item.name" class="blue-4f-text">
                  <strong> {{ item.name }} </strong>
                </label>
                <input
                  mdbInput
                  mdbValidate
                  [name]="item.name"
                  [type]="item.type"
                  [formControlName]="item.field"
                  class="blue-4f-text form-control"
                  OnlyNumbers="true"
                  NoPaste
                />
              </div>
            </ng-container>
            <!-- Textarea -->
            <ng-container *ngIf="item.type === 'text-area'">
              <div class="input-block">
                <label [for]="item.name" class="blue-4f-text">
                  <strong> {{ item.name }} </strong>
                </label>
                <textarea
                  mdbInput
                  mdbValidate
                  [name]="item.name"
                  [formControlName]="item.field"
                  rows="3"
                  class="blue-4f-text form-control"
                ></textarea>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="w-100">
      <app-button
        *ngIf="!loadingSending; else loadingSendingemail"
        class="d-block w-100"
        [label]="'Enviar'"
        [size]="100"
        [disabled]="!contactForm.valid"
        [rounded]="true"
        (onClick)="sendForm()"
      ></app-button>
      <ng-template #loadingSendingemail>
        <app-modal-loading
          class="w-100 py-2 d-flex mx-2 justify-content-center"
        ></app-modal-loading>
      </ng-template>
    </div>
  </div>
</ng-container>
