@use 'variables';
@import "media";

// Swiper package override
@import "~swiper/swiper.scss";

:root {
  --swiper-theme-color: #989898;
}
.swiper-container {
  margin: 0 !important;
  width: 100% !important;
  .swiper-slide {
    overflow: hidden !important;
  }

  .swiper-wrapper {
    transition-duration: 0.8s !important;
    transition-timing-function: ease-out;
  }
}

.swiper-container.swiper-container-autoheight .swiper-slide {
  // Default height auto not working correctly
  height: auto !important;
}
.swiper-pagination {
  position: unset;
  padding-top: 0.2rem;
  .swiper-pagination-bullet {
    --bullet-size: 10px;
    margin: 0.1rem;
    width: var(--bullet-size);
    height: var(--bullet-size);
  }
}
// Custom carousel classes
.carousel-prev,
.carousel-next {
  display: none;
}

.carousel-control {
  display: none;
}

.carousel-indicators {
  padding-bottom: 10px;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  @include media-breakpoint-down(md) {
    width: 10px;
    height: 10px;
  }
  @include media-breakpoint-down(sm) {
    width: 8px;
    height: 8px;
  }
}

.home-banner {
  .carousel.slide {
    .carousel-item {
      position: relative;
      min-height: 285px;
      height: 25vw;
      @include media-breakpoint-down(md) {
        min-height: 285px;
      }
      @include media-breakpoint-down(sm) {
        min-height: 290px;
      }
      .item {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
}

// category-group-banner
.category-group-banner {
  .carousel.slide {
    .item {
      min-height: 350px;
      height: 12vw;
    }
  }
}

@include media-breakpoint-up(lg) {
  .carousel {
    --btn-width: 1.5rem;
    --btn-margin: 1.5rem;

    display: flex;
    align-items: stretch;
    .carousel-prev,
    .carousel-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--btn-width);
    }
  }
  .carousel-controls-inner {
    position: relative;
    .carousel-prev,
    .carousel-next {
      position: absolute;
      z-index: variables.$z-carousel-btn;
      top: 0;
      bottom: 0;
    }
    .carousel-prev {
      left: var(--btn-margin);
    }
    .carousel-next {
      right: var(--btn-margin);
    }
  }
  .carousel-controls-outer {
    .carousel-prev {
      margin-right: var(--btn-margin);
    }
    .carousel-next {
      margin-left: var(--btn-margin);
    }
    .carousel-body {
      display: inline-block;
      width: calc(
        100% - (var(--btn-width) + var(--btn-margin)) * 2 - 0.01px
      ) !important;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.swiper-button-prev {
  margin-left: 70px;
}

.swiper-button-next {
  margin-right: 70px;
}

.brands-secondary .swiper-button-prev {
  margin-left: 6%;
}

.brands-secondary .swiper-button-next {
  margin-right: 6%;
}

.login-register-carousel .swiper-button-prev,
.login-register-carousel .swiper-button-next {
  top: 70%;
  color: rgba(0, 0, 0, 0.7) !important;
  padding: 32px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(44px);
  margin: 0;
}
.login-register-carousel .swiper-button-prev {
  left: 40px;
}

.login-register-carousel .swiper-button-next {
  right: 40px;
}

// To separate the arrows in the brands carousel on the HomePage
.associated-brands swiper {
  margin: 0 75px;
}
