<app-modal-header
  [title]="'Pagar con otra tarjeta'"
  [returnCondition]="false"
  (onClose)="closeModal()"
></app-modal-header>
<div class="modal-body">
  <form [formGroup]="cardForm">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label class="font-size-large blue-4f-text">Datos de la tarjeta</label>
        <div class="form-group">
          <div class="input-block mt-3">
            <label for="name"><strong>Número de tarjeta</strong></label>
            <input
              type="text"
              id="maskedNumber"
              formControlName="maskedNumber"
              [placeholder]="'Ej. 5555555555555555'"
              class="form-control"
              mdbInput
              mdbValidate
              OnlyNumbers="true"
              NoPaste
              (change)="checkCard()"
            />
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-row align-items-end">
              <div class="input-block mt-3">
                <label for="name"><strong>Mes</strong></label>
                <input
                  type="number"
                  id="expMonth"
                  formControlName="expMonth"
                  class="form-control"
                  [placeholder]="'MM'"
                  mdbInput
                  mdbValidate
                />
              </div>
              <label class="mb-2 mx-2 font-size-large">/</label>
              <div class="input-block mt-3">
                <label for="name"><strong>Año</strong></label>
                <input
                  type="number"
                  id="expYear"
                  formControlName="expYear"
                  class="form-control"
                  [placeholder]="'YYYY'"
                  mdbInput
                  mdbValidate
                />
              </div>
            </div>
            <div class="mx-3"></div>
            <div class="input-block mt-3">
              <label for="name"><strong>CVV</strong></label>
              <input
                type="number"
                id="cvv"
                formControlName="cvv"
                class="form-control"
                mdbInput
                mdbValidate
                OnlyNumbers="true"
                NoPaste
              />
            </div>
          </div>
          <div class="input-block mt-3" *ngIf="cardForm.get('isCredit').value">
            <label for="name"><strong>Cuotas</strong></label>
            <input
              type="number"
              id="installments"
              formControlName="installments"
              class="form-control"
              mdbInput
              mdbValidate
              OnlyNumbers="true"
              NoPaste
            />
          </div>
        </div>
        <label class="font-size-large blue-4f-text mt-3">Datos del titular</label>
        <div class="form-group">
          <div class="input-block mt-3">
            <label for="name"><strong>Nombre del titular</strong></label>
            <input
              type="text"
              id="holderName"
              formControlName="holderName"
              class="form-control"
              mdbInput
              mdbValidate
            />
          </div>
          <div class="input-block mt-3">
            <label for="name"><strong>Número de documento</strong></label>
            <input
              type="text"
              id="userNumberDocument"
              formControlName="userNumberDocument"
              class="form-control"
              mdbInput
              mdbValidate
              OnlyNumbers="true"
              NoPaste
            />
          </div>
          <div class="input-block mt-3">
            <label for="name"><strong>Correo electronico</strong></label>
            <input
              type="text"
              id="userMail"
              formControlName="userMail"
              class="form-control"
              mdbInput
              mdbValidate
            />
          </div>
          <div class="input-block mt-3">
            <label for="name"><strong>Número de contacto</strong></label>
            <input
              type="text"
              id="userPhone"
              formControlName="userPhone"
              class="form-control"
              mdbInput
              mdbValidate
              OnlyNumbers="true"
              NoPaste
            />
          </div>
        </div>
        <div class="mt-4 mb-2 d-flex align-items-center">
          <input
            class="mr-2"
            type="checkbox"
            value=""
            id="terms"
            formControlName="terms"
          />
          <label class="form-check-label font-size-normal" for="terms">
            Acepto los
            <strong
              ><a>Términos y condiciones y Políticas de Privacidad</a></strong
            >
            de Luxury
          </label>
        </div>
        <div class="mt-4 mb-2 d-flex align-items-center">
          <input
            class="mr-2"
            type="checkbox"
            value=""
            id="accept"
            formControlName="accept"
          />
          <label class="form-check-label font-size-normal" for="accept">
            Deseo guardar la tarjeta para futuros pagos.
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <app-modal-loading *ngIf="loadingPayment" class="mx-auto"></app-modal-loading>
  <app-button
    *ngIf="!loadingPayment"
    class="d-block w-100"
    [label]="'Pagar'"
    [rounded]="true"
    [bold]="true"
    [textSize]="2"
    [size]="100"
    [disabled]="cardForm.invalid"
    [additionalClasses]="'ls-1 py-3'"
    (onClick)="confirmPayment()"
  ></app-button>
</div>
