<!-- <div
  class="position-relative row m-0 justify-content-center align-items-start custom-height"
  style="
    background-image: url('assets/images/landscape-login-register.svg');
    background-size: cover;
    background-position: center;
  "
> -->
<div class="container w-100 h-100">
  <div
    class="pt-3 px-0 pt-lg-2 pt-xl-5 d-flex flex-column align-items-center col-12 col-lg-7 left right mx-auto"
    style="z-index: 99"
  >
    <img
      src="assets/images/logo_luxury_nuevo.png"
      class="img-fluid mt-lg-4 mt-3 mb-5 mb-lg-4 mb-xl-5 position-relative w-100"
      style="max-width: 400px;"
    />
    <!-- <p class="text-white font-size-3 pt-3 pb-3 pb-lg-5 text-center"> -->
    <!--   Programa de beneficios para clientes exclusivos -->
    <!-- </p> -->
    <div class="position-absolute custom-width">
      <ng-content select="[slot='buttons']"></ng-content>
      <ng-content select="[slot='form']"></ng-content>
    </div>
  </div>
</div>

<!-- <div
    class="w-100 primary-blue m-0 position-absolute"
    style="height: 15px; bottom: 0; z-index: 9;"
  ></div> -->
<!-- </div> -->
