<div
  class="px-3 px-md-3 pt-4 pb-4"
  style="
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.65);
  "
>
  <a [routerLink]="['/ingreso']"><mdb-icon fas icon="times" class="blue-1-text position-absolute top right font-size-x-large mt-2 mr-3 pt-2"></mdb-icon></a>
  <h2 class="font-size-x-large primary-blue-text bold-text">Recordar contraseña</h2>
  <form class="mt-2" [formGroup]="recoveryForm">
    <div class="d-block text-left pb-1">
      <label class="d-block text-black font-size-normal w-100 primary-blue-text">Ingrese su dirección de correo electrónico para poder restablecer su contraseña.</label>
    </div>
    <div class="input-group my-2 md-form position-relative">
      <!-- <label for="email" class="font-size-large w-100"
        >Correo electrónico personal*</label
      > -->
      <input
        mdbInput
        id="email"
        type="email"
        formControlName="email"
        placeholder="Correo electrónico personal*"
        class="form-control font-size-large w-100 outline-none pl-5 br-10 py-2"
        style="
          border: 0;
          background: white;
        "
      />
      <mdb-icon fas icon="envelope" class="primary-blue-text position-absolute left pl-3 top bottom d-flex align-items-center h-100"></mdb-icon>
    </div>
    <app-button
      *ngIf="!loading"
      [type]="''"
      [color]="'primary-blue'"
      [textSize]="'normal'"
      [textColor]="'white'"
      [label]="'Recordar correo'"
      [size]="'75'"
      [rounded]="true"
      [additionalClasses]="'mt-3 mx-auto d-block br-20'"
      [disabled]="recoveryForm.invalid"
      (onClick)="requestPassword()"
    ></app-button>
    <app-global-loading *ngIf="loading"></app-global-loading>
  </form>
</div>
