<app-subtitle-header
  *ngIf="!highlight"
  [subtitle]="'Cómo comprar en Luxury'"
  class="w-100"
></app-subtitle-header>
<div
  *ngIf="highlight"
  class="d-flex justify-content-center blue-1-text my-4 font-weight-bold"
>
  <p class="font-size-x-large">¿Cómo comprar?</p>
</div>
<div class="w-100">
  <swiper class="d-xl-none overflow-visible" [config]="swiperConfig">
    <div
      swiperSlide
      class="w-100 h-unset align-items-stretch"
      *ngFor="let card of howToBuyList; let i = index"
    >
      <app-htb-card class="d-block p-1" [card]="card"></app-htb-card>
    </div>
  </swiper>
  <div class="row no-gutters d-none d-xl-flex align-items-stretch">
    <app-htb-card
      *ngFor="let card of howToBuyList; let i = index"
      class="d-flex p-1 pb-2 col-lg-6 col-xl-4"
      [card]="card"
    ></app-htb-card>
  </div>
</div>
