<div class="d-flex h-100 full-img-bg position-relative p-3 p-sm-4 p-md-5 banner-parent"
  [style.background-image]="'url(' + slide?.imageURL + ')'">
  <div class="white-text banner-parent">
    <p class="font-size-x-large">{{slide?.title}}</p>
    <p *ngIf="slide.subtitle" class="font-size-x-large ml-sm-auto mt-2 banner-subtitle w-100">
      {{slide?.subtitle}}
    </p>
  </div>
  <app-button *ngIf="slide.buttonLabel" class="d-none d-sm-block position-absolute right bottom" [textColor]="'white'"
    [label]="slide.buttonLabel" [textSize]="'2'" [size]="'banner-btn'" style="z-index: 40"
    [additionalClasses]="'br-tr-15'"></app-button>
  <app-button *ngIf="slide.buttonLabel" class="d-block d-sm-none position-absolute right bottom"
    [additionalClasses]="'p-2 br-tr-15'" [textColor]="'white'" [label]="slide.buttonLabel" [textSize]="'3'"
    [size]="'130'" style="z-index: 40"></app-button>
</div>