<div
  class="pb-2 d-flex flex-row flex-sm-row px-0 col-12 col-md-12 col-lg-12 mb-2 mx-auto"
>
  <div class="flex-1 mr-2 mb-2">
    <a [routerLink]="['/ingreso/login']" routerLinkActive="active-btn">
      <button
        class="outline-none py-075 w-100 border br-10 primary-blue-border rounded text-white"
        style="background-color: #132341"
      >
        Iniciar sesión
      </button>
    </a>
  </div>
  <div class="flex-1">
    <a [routerLink]="['/ingreso/registro']" routerLinkActive="active-btn">
      <button
        class="outline-none py-075 w-100 border br-10 primary-blue-border rounded text-white"
        style="background-color: #132341"
      >
        Registrarse
      </button>
    </a>
  </div>
</div>
