<div
  class="px-3 px-md-3 pt-4 pb-4"
  style="
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.65);
  "
>
  <a [routerLink]="['/ingreso']"><mdb-icon fas icon="times" class="blue-1-text position-absolute top right font-size-x-large mt-2 mr-3 pt-2"></mdb-icon></a>
  <h2 class="font-size-x-large primary-blue-text bold-text">Nueva contraseña</h2>
  <form class="mt-2" [formGroup]="passwordForm">
    <div class="d-block text-left pb-1">
      <label class="d-block text-black font-size-normal w-100 primary-blue-text">Escriba su nueva contraseña, ésta debe ser de 6 caracteres mínimo.</label>
    </div>
    <div class="input-group my-2 md-form position-relative">
      <!-- <label for="email" class="font-size-large w-100"
        >Correo electrónico personal*</label
      > -->
      <input
        mdbInput
        id="password"
        type="password"
        formControlName="newPassword"
        placeholder="Nueva contraseña*"
        class="form-control font-size-large w-100 outline-none pl-3 br-10 py-2"
        style="
          border: 0;
          background: white;
        "
      />
    </div>
    <div class="input-group my-2 md-form position-relative">
      <!-- <label for="email" class="font-size-large w-100"
        >Correo electrónico personal*</label
      > -->
      <input
        mdbInput
        id="rpassword"
        type="password"
        formControlName="repeatPassword"
        placeholder="Repita la contraseña*"
        class="form-control font-size-large w-100 outline-none pl-3 br-10 py-2"
        style="
          border: 0;
          background: white;
        "
      />
    </div>
    <app-button
      *ngIf="!loading"
      [type]="''"
      [color]="'primary-blue'"
      [textSize]="'normal'"
      [textColor]="'white'"
      [label]="'Confirmar nueva contraseña'"
      [size]="'75'"
      [rounded]="true"
      [additionalClasses]="'mt-3 mx-auto d-block br-20'"
      [disabled]="passwordForm.invalid"
      (onClick)="sendPassword()"
    ></app-button>
    <app-global-loading *ngIf="loading"></app-global-loading>
  </form>
</div>
