<div class="d-none d-sm-block my-5 text-center">
    <img class="mx-auto mt-5 d-block"  src="assets/images/header-logo-mobile-blanco.png" style="max-width: 400px;">
    <!--Este parrafo tiene que ser cambiado para que se muestre segun lo obtenido del servicio-->
    <p class="mt-3 white-text font-size-2">Programa de beneficios para clientes exclusivos</p>
</div>
<div class="d-block d-sm-none my-4 text-center">
    <img class="mt-4 d-block w-100 px-custom-form"  src="assets/images/header-logo-mobile-blanco.png">
    <!--Este parrafo tiene que ser cambiado para que se muestre segun lo obtenido del servicio-->
    <p class="mt-3 white-text font-size-2">Programa de beneficios para clientes exclusivos</p>
</div>
<div class="text-center">
    <p class="my-3 white-text font-size-3" style="letter-spacing: 0.3px;">Inicie sesión o regístrese para poder continuar</p>
    <div class="d-none d-sm-block btn-group mx-auto font-size-3" style="width: 389px;">
        <label class="btn-basic basic w-50 cursor-pointer" (click)="showLoginForm()" [(ngModel)]="radioModel" mdbRadio="Left" mdbWavesEffect style="border-radius: 6px 0px 0px 6px; height: 45.88px; line-height: 45.88px;">
            Iniciar sesión
        </label>
        <label class="btn-basic basic w-50 cursor-pointer" (click)="showRegisterForm()" [(ngModel)]="radioModel" mdbRadio="Right" mdbWavesEffect style="border-radius: 0px 6px 6px 0px; height: 45.88px; line-height: 45.88px;">
            Registrarse
        </label>
    </div>
    <div class="d-block d-sm-none btn-group w-100 px-custom-form font-size-4">
        <label class="btn-basic basic w-50 cursor-pointer" (click)="showLoginForm()" [(ngModel)]="radioModel" mdbRadio="Left" mdbWavesEffect style="border-radius: 6px 0px 0px 6px; height: 45.88px; line-height: 45.88px;">
            Iniciar sesión
        </label>
        <label class="btn-basic basic w-50 cursor-pointer" (click)="showRegisterForm()" [(ngModel)]="radioModel" mdbRadio="Right" mdbWavesEffect style="border-radius: 0px 6px 6px 0px; height: 45.88px; line-height: 45.88px;">
            Registrarse
        </label>
    </div>
</div>